<br>
<div class="row">
  <div class="col-sm-7">
    <div class="card bg-light" style="background-color: rgba(0, 0, 0, 0.03)">
      <div class="card-body text-white">
        <h1 class="text-dark display-4">Word: <span style="color:#f08a16"><%= @word.name %></span></h1><br>
      </div>
   </div>
  </div>
  <div class="col-sm-5">
  <div class="card shadow bg-light">
    <div class="card-body">
      <form action="/words/<%= @word.id %>" method="post">
        <input name="_method" type="hidden" value="patch">
        <div class="form-group">
          <label for="edit_word" class="card-text">Edit Word:</label>
          <input id="edit_word" name="edit_word" class="form-control" type="text">
        </div>
        <button type="submit" class="btn" style="background-color:#7771e3">Update Word</button>
      </form>
    </div>
  </div>
</div>
<br>
<div class="col-sm-7">
  <form action="/words/<%= @word.id %>" method="post">
    <input name="_method" type="hidden" value="delete">
    <button type="submit" class="btn btn-danger">Delete Word</button>
  </form>
</div>
<nav class="navbar fixed-bottom navbar-dark bg-dark text-center">
  <span class="navbar-text" style="color:#7771e3"><em>A new word is like a fresh seed sown on the ground of the discussion.</em> - Wittgenstein</span>
  <a style="color:#f08a16" href="/words">Return to word list</a>
</nav>